---
import SvgLogo from '@/assets/icons/logo.svg'
---

<header class="absolute inset-x-0 top-18 z-10 px-12 text-white">
	<a class="flex items-center gap-6" href="/">
		<span class="grid leading-none">
			<strong>Y a vivir</strong>
			<small class="text-xs text-white/50 uppercase">Un proyecto de</small>
		</span>
		<SvgLogo class="h-10 md:h-12" />
	</a>
</header>
