---
import SvgLogo from '@/assets/icons/logo.svg'
---

<section class="flex min-h-screen items-center bg-blue-100 py-24 text-center">
	<div class="container">
		<div class="group reveal space-y-6">
			<p class="group-reveal:-translate-y-12 group-reveal:opacity-0">Eltiempo Content para</p>

			<SvgLogo class="mx-auto w-48 fill-blue-950 group-reveal:translate-y-12 group-reveal:opacity-0 group-revealed:delay-100" />

			<p class="font-semibold uppercase group-reveal:translate-y-12 group-reveal:opacity-0 group-revealed:delay-200">
				<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/bc/eltiempocontent/">La fábrica de contenidos de ElTiempo </a>
				<span class="mx-2">|</span>
				<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/bc/marcasresponsables/">Marcas Responsables</a>
			</p>

			<p class="group-reveal:translate-y-12 group-reveal:opacity-0 group-revealed:delay-300">
				<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/legal/politica-privacidad.html">Política de privacidad</a>
				<span class="mx-2">|</span>
				<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/legal/condiciones-generales.html">Aviso legal</a>
				<span class="mx-2">|</span>
				<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/legal/politica-cookies.html">Política de cookies</a>
			</p>

			<hr class="mx-auto w-full max-w-80 group-reveal:translate-y-12 group-reveal:opacity-0 group-revealed:delay-400" />

			<p class="group-reveal:translate-y-12 group-reveal:opacity-0 group-revealed:delay-500">
				<a class="hover:underline" target="_blank" href="https://www.eltiempo.es/">© eltiempo, Pelmorex Weather Networks 2026</a>
			</p>
		</div>
	</div>
</section>
