@import 'tailwindcss';

@view-transition {
	navigation: auto;
}

@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 400;
	font-display: 'swap';
	src: url(/kanit-400-normal.woff2) format('woff2');
}

@font-face {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 500;
	font-display: 'swap';
	src: url(/kanit-500-normal.woff2) format('woff2');
}

@theme {
	--default-transition-duration: 0.3s;
	--font-sans: 'Kanit', sans-serif;
	--breakpoint-sm: 28rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: initial;
	--color-blue-100: #cfe9ee;
	--color-blue-950: #001e50;
}

@layer base {
	html {
		@apply antialiased max-[400px]:text-[4vw] min-[1536px]:text-[1.125vw] min-[1920px]:text-[20px];
	}
}

@layer components {
	[class*='reveal:'] {
		@apply group-revealed:transition-all group-revealed:duration-1000 revealed:transition-all revealed:duration-1000;
	}
}

@utility container {
	@apply mx-auto px-6 md:px-12;
}

@custom-variant reveal (&.reveal);
@custom-variant revealed (&.revealed);

@supports (animation-timeline: view()) {
	@keyframes scroll-move {
		to {
			transform: translateX(-200vw);
		}
	}
	@keyframes scroll-progress {
		from {
			width: 0vw;
		}
		to {
			width: 100vw;
		}
	}
	@media (width >= 80rem) {
		#scroll-container {
			@apply h-[300vw];
			view-timeline-name: --scroll-container;
		}
		#scroll-wrapper {
			@apply sticky top-0 grid w-[300vw] grid-cols-3 will-change-transform;
			animation: linear scroll-move forwards;
			animation-timeline: --scroll-container;
			animation-range: contain 0% contain 100%;
		}
		#scroll-progress {
			@apply fixed bottom-12 left-0 h-1 bg-white/50;
			animation: linear scroll-progress forwards;
			animation-timeline: --scroll-container;
			animation-range: contain 0% contain 100%;
		}
		#scroll-indicator {
			@apply rotate-0;
		}
	}
}
